/* Сразу назначаим базовые стили для шрифтов */
body, p, button {
    font-family: "playfair Display", serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #626262;
}

/* Задаем ширину врапперу и выравниваем его по центру страницы */
.wrapper {
    width: 901px;
    height: 2050px;
    margin: 0 auto;
}

.navigation ul {
    /* выравняем наше меню по центру */
    text-align: center;
}

.navigation li {
    /* теперь сделаем пункты меню в ряд */
    display: inline-block;
    text-transform: uppercase;
    margin-top: 75px;
    margin-right: 100px;
    margin-bottom: 100px;

}

.navigation li:last-child {
    margin-right: 0;
}

.navigation li a {
    text-transform: uppercase;
}

.navigation li a:hover {
    color: #03a9f4;
}

.posts-wrap {
    font-size: 0;
}

.post {
    display: inline-block;
    width: 420px;
    font-size: 14px;
    margin-left: 0 auto;
    margin-right: 20px;
    margin-bottom: 120px;
}

.post:nth-child(even) {
    margin-right: 0;
}

.post:nth-last-child(-n+2) {
    margin-bottom: 110px;
}
.post img {
    display: block;
    width: 420px;
    height: auto;
}
.post .category {
    font: 300 14px "Ubuntu", sanz-serif;
    text-transform: uppercase;
    color: #b4ad9e;
    margin-top: 26px;
    margin-bottom: 30px;
}

.post h2 {
    font-size: 30px;
    margin-bottom: 35px;
}

.btn-more {
    display: block;
    margin: 0 auto;
    font-size: 20px;
    border: 1px solid;
    padding: 20px 35px;
    margin-bottom: 75px;
    
}
.posts-wrap {
    display: inline-block;
    width: 420px;
    /* padding: 0 10px; */
    background-color: #fff;
    box-sizing: border-box;
    margin-bottom: 12px;
    /* border: 1px solid red; */
}
.text {
    color: #03a9f4;
}

.right-side-post {
    margin-left: 57px;
}

.bottom-post {
    margin-bottom: 25px !important;
}