ul li {
    color: #777777;
    text-transform: uppercase;
}
.text {
    color: #626262;
}

.wraper {
    color: #b8b2a4;
}

h2 {
    color: #626262;
}

 button {
    width: 164px;
    height: 60px; 
    border: 1px solid #626262;  
    font-size: 23px; 
    margin-top: 2px;
    font-family: Ubuntu;
    color: #6c6c6c;
 }